name: Assignment Workflow

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: 23f2000935@ds.study.iitm.ac.in
        run: echo "Hello, world! Assignment completed."
      
      - name: Show date
        run: date
